body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Light gray background */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.message-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.message-container h1 {
    margin-bottom: 10px;
}

.message-container p {
    margin-bottom: 20px;
}

.action-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login {
    background-color: #4CAF50; /* Green */
}
